{%extends 'basic.html'%}
{% load static%}
{% block title%}{{user.username}}'s Cart{%endblock%}


{% block body%}
<style>
    .banner {
      position: relative;
      width: 300px;
      /* height: 150px; */
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;

    }

  </style>

<section class="text-gray-700 body-font"  style="padding-top: 5rem;">
    <div class="container px-5 mx-auto">
        <!-- <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Your Cart</h1>
        </div> -->
        <!-- <div class="flex flex-wrap -m-4">
            {%for i in obj%}

            <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 rounded-lg overflow-hidden">
                    {%for j in obj1%}
                    {% if j.Creater == i.Creater and j.id == i.Design_No%}
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{j.Content.url}}" alt="blog">
                    {% endif %}
                    {% endfor %}
                    <div class="p-6">
                        <form action="/home/detail/" method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            <center>
                                <input type="hidden" name='FW' value="{{i.Creater}}">
                                <button class="genric-btn info radius mt-2  w-full" style="margin-top: 10px;"><i
                                        class="fa fa-user-circle"></i> About {{i.Creater}}</button>
                            </center>
                        </form>

                        <form action="/home/Cremove/" method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            <center>
                                <input type="hidden" name='FW' value="{{i.Design_No}}">
                                <button class="genric-btn danger radius mt-2  w-full"style="margin-top: 10px;"><i
                                        class="fa fa-trash"></i> Remove From Cart</button>
                            </center>
                        </form>

                        <form action="/home/checkout/" method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            <center>
                                <input type="hidden" name='FW' value="{{i.Design_No}}">
                                <button class="genric-btn primary radius mt-2  w-full" style="margin-top: 10px;"><i
                                        class="fa fa-shopping-bag"></i> Check Out</button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900" style="color:red">Your Cart
                    Is Empty</h1>
            </div>
            {% endfor %}
        </div> -->

        <div class="row">
            {%for i in obj%}
            {%for j in obj1%}
            {% if j.Your_Name == i.Creater and j.id == i.Design_No%}
            <div class="col-md-4 mb-10">
                <div class="card mb-4 shadow-sm" style="border-radius: 20px;">
                    <div class="card-body">
                        <center><img src="{{j.Upload_Pictures.url}}" class="rounded-lg h-64 overflow-hidden"></center>
                        <form action="/home/detail/" method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            <center>
                                <input type="hidden" name='FW' value="{{j.Your_Name}}">
                                <button type="submit" class="genric-btn primary-border circle mt-3"><i
                                        class="fa fa-user-circle"></i> About {{j.Your_Name}}</button>
                            </center>
                        </form>

                        <form action="/home/checkout/" method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            <center>
                                <input type="hidden" name='FW' value="{{i.Design_No}}">
                                <button type="submit" class="genric-btn primary-border circle mt-3"><i
                                        class="fa fa-shopping-bag"></i> Check Out</button>
                            </center>
                        </form>

                        <form action="/home/Cremove/" method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            <center>
                                <input type="hidden" name='FW' value="{{i.Design_No}}">
                                <button type="submit" class="genric-btn primary-border circle mt-3"><i
                                        class="fa fa-trash"></i> Remove From Cart</button>
                            </center>
                        </form>

                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor%}
            {% empty %}
            <div class="flex flex-col text-center w-full mb-20 mt-20">
                <img src="/static/CART.svg" class="banner"><br>
                <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900" style="color:red">Your Cart Is Empty</h1>
            </div>
            {% endfor %}
        </div>
    </div>
</section>



{%endblock%}