{%extends 'basic.html'%}
{% load static%}
{% block title%}Category{%endblock%}


{% block body%}
<style>
    .banner {
      position: relative;
      width: 300px;
      /* height: 150px; */
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;

    }
    .blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

  </style>

<!-- <center>
    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
        <form action="/home/Category/" method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <input list="browsers" type="text" name="catsrch" placeholder="&#xF002; Search By Category"
                class="form-control"
                style="border-radius: 20px;margin-top: 20px;font-family: FontAwesome;overflow: hidden;">

            <datalist id="browsers">
                <option value="Gujarati">
                <option value="Western">
                <option value="South">
                <option value="Special">
            </datalist>
        </form>

    </div>

</center> -->

<div class="container"  style="padding-top: 5rem;">

    <div class="row">
        {% for i in obj1%}

        <!-- <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="border-radius: 20px;">
                <div class="card-body">
                    <center><img src="{{i.Upload_Pictures.url}}" class="rounded-lg h-64 overflow-hidden"></center>
                    <h5 class="text-medium font-medium title-font text-gray-900 mt-3">Category : {{i.Select_Region}}</h5>
                    <h5 class="text-medium font-medium title-font text-gray-900 mt-3">Description :
                        {{i.About_Design}}
                    </h5>
                    <h5 class="text-medium font-medium title-font text-gray-900 mt-3">Price : {{i.Price}} RS</h5>

                    {% if user.is_authenticated%}

                    <form action="/home/detail/" method='post' enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name='FW' value="{{i.Your_Name}}">
                        <button type="submit" class="genric-btn info radius w-full mt-2" title="About {{i.Your_Name}}"><i
                                class="fa fa-info-circle"></i>
                            {{i.Your_Name}}</button>
                    </form>

                    {% if i.Your_Name != user.username %}

                    <form action="/home/cart/" method='post' enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name='FW' value="{{i.Your_Name}}">
                        <input type="hidden" name='FI' value="{{i.id}}">
                        <button type="submit" class="genric-btn danger radius w-full mt-2"><i
                                class="fa fa-cart-plus"></i>
                            Add To Cart</button>
                    </form>

                    {% else %}

                    {% if i.Make_Private is True %}
                    <center>
                        <form method="post" action="/home/makepb/">
                            {% csrf_token %}
                            <input type="hidden" name="SS" value="{{i.id}}">
                            <input type="submit" class="genric-btn danger radius" value=" &#xf13e; Make Public"
                                style="margin-top: 10px;width: 100%;font-family: FontAwesome;">
                        </form>
                    </center>

                    {% else %}
                    <center>
                        <form method="post" action="/home/makepv/">
                            {% csrf_token %}
                            <input type="hidden" name="SS" value="{{i.id}}">
                            <input type="submit" class="genric-btn danger radius" value=" &#xf023; Make Private"
                                style="margin-top: 10px;width: 100%;font-family: FontAwesome;">
                        </form>
                    </center>
                    {% endif %}
                    {% endif %}
                    <center>
                        <div class="btn-group mt-3 w-full" role="group">

                            <form action="/home/Save/" method='post' enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name='FW' value="{{i.Your_Name}}">
                                <input type="hidden" name='FI' value="{{i.id}}">
                                <button type="submit" class="genric-btn primary-border circle"><i
                                        class="fa fa-bookmark"></i>
                                    Save</button>
                            </form>

                            <form action="/home/LKS/" method='post' enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name='FW' value="{{i.Your_Name}}">
                                <input type="hidden" name='FI' value="{{i.id}}">
                                <button type="submit" class="genric-btn primary-border circle ml-2"><i
                                        class="fa fa-thumbs-up"></i>
                                    Like ({{i.Likes}})</button>
                            </form>

                        </div>
                    </center>

                    <center>
                        <form action="/home/feedback/" method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name='FW' value="{{i.Your_Name}}">
                            <input type="hidden" name='FI' value="{{i.id}}">
                            <input type="text" placeholder="  &#xf0e6; Write Your Feedback" name="CM"
                                class="form-control"
                                style="border-radius: 20px;margin-top: 20px;font-family: FontAwesome;overflow: hidden;"></input>
                        </form>
                    </center>

                    {% endif %}
                </div>
            </div>
        </div> -->

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="border-radius: 10px;border-color: gray;">
              <div class="card-body">
                <div><h5 class="text-medium font-medium title-font text-gray-900 blink_me" style="color: #e82f0e;float: right;font-weight: bold;"> {{i.Select_Region}}</h5>
                </div><br><br>
                <center><a><img src="{{i.Upload_Pictures.url}}" class="rounded-lg  h-64 w-100 overflow-hidden" style="border: solid transparent;"></a></center>
               
                <h5 class="text-medium font-medium title-font text-gray-900 mt-3 p-2 text-center w-50" style="background-color: goldenrod;"><i
                  class="fa fa-rupee-sign"></i> {{i.Price}}</h5>
                  <h5 class="text-medium font-medium title-font text-primary-900 mt-3 p-2 text-center" style="background-color: #343954;color: aliceblue;">
                    {{i.About_Design}}
                  </h5>

                {% if not user.is_authenticated%}
                  <button type="submit" class="genric-btn danger-border circle w-full mt-4">
                    <a class="nav-link" data-toggle="modal" data-target="#loginModal" style="cursor: pointer;" title="Login">
                      <i class="fa fa-cart-plus"></i>
                    Buy Now!</a>
                    </button>
                {% endif %}
              
                {% if user.is_authenticated%}
  
                <center>
                  <div class="btn-group mt-3 w-80" role="group">
  
                    <form action="/home/detail/" method='post' enctype="multipart/form-data" class="mt-2">
                      {% csrf_token %}
                      <input type="hidden" name='FW' value="{{i.Your_Name}}">
                      <button type="submit" class="genric-btn info" title="About {{i.Your_Name}}"><i
                          class="fa fa-info-circle"></i>
                        {{i.Your_Name}}</button>
                    </form>
                  
  
                    {% if i.Your_Name != user.username %}

                    <form action="/home/cart/" method='post' enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="hidden" name='FW' value="{{i.Your_Name}}">
                      <input type="hidden" name='FI' value="{{i.id}}">
                      <button type="submit" class="genric-btn danger mt-2 ml-2"><i class="fa fa-cart-plus"></i>
                        Add To Cart</button>
                    </form>

                    {% else %}

                    {% if i.Make_Private is True %}
                    <center>
                      <form method="post" action="/home/makepb/">
                        {% csrf_token %}
                        <input type="hidden" name="SS" value="{{i.id}}">
                        <input type="submit" class="genric-btn danger mt-2 ml-2" value=" &#xf13e; Make Public"
                          style="width: 100%;font-family: FontAwesome;">
                      </form>
                    </center>

                    {% else %}
                    <center>
                      <form method="post" action="/home/makepv/">
                        {% csrf_token %}
                        <input type="hidden" name="SS" value="{{i.id}}">
                        <input type="submit" class="genric-btn danger mt-2 ml-2" value=" &#xf023; Make Private"
                          style="width: 100%;font-family: FontAwesome;">
                      </form>
                    </center>
                    {% endif %}
                    {% endif %}
  
                  </div>

                </center>
                
                <center>
                  <div class="btn-group mt-3 w-80" role="group">
  
                    <form action="/home/Save/" method='post' enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="hidden" name='FW' value="{{i.Your_Name}}">
                      <input type="hidden" name='FI' value="{{i.id}}">
                      <button type="submit" class="genric-btn primary-border circle"><i class="fa fa-bookmark"></i>
                        Save</button>
                    </form>
  
                    <form action="/home/LKS/" method='post' enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="hidden" name='FW' value="{{i.Your_Name}}">
                      <input type="hidden" name='FI' value="{{i.id}}">
                      <button type="submit" class="genric-btn primary-border circle ml-2"><i class="fa fa-thumbs-up"></i>
                        Like ({{i.Likes}})</button>
                    </form>
  
                  </div>

                </center>
  
                <center>
                  <form action="/home/feedback/" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name='FW' value="{{i.Your_Name}}">
                    <input type="hidden" name='FI' value="{{i.id}}">
                    <input type="text" placeholder="  &#xf0e6; Write Your Feedback" name="CM" class="form-control"
                      style="border-radius: 20px;margin-top: 20px;font-family: FontAwesome;overflow: hidden;border-color: gray;"></input>
                  </form>
                </center>
  
                {% endif %}
              </div>
            </div>
          </div>

        {% empty %}
        <div class="flex flex-col text-center w-full mb-20 mt-10">
            
            <img src="/static/DNF.svg" class="banner"><br>
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900" style="color:red">No Item
                Found</h1>

        </div>
        {% endfor%}

    </div>
</div>


{%endblock%}